<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="CountriesApp.Properties.Settings.CountriesDBConnectionString"
            connectionString="Server=(localdb)\\mssqllocaldb;Database=CountriesDb;Trusted_Connection=True;" 
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>